

.Composition_midcap {
    display: inline-block;
    height: 12px;
    background-color: #FFEB3B;
    width: 50% !important;
    margin-left: -7px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
}
.Composition_largecap {
    display: inline-block;
    height: 12px;
    background-color: #ff9800;
    width: 30%;
    margin-left: -7px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
}
.Composition_debt {
    display: inline-block;
    height: 12px;
    background-color: #B3FF5b;
    width: 5%;
    margin-left: -7px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
}/*
.Composition_circles_l {
    color: #337ab7;
}*/
.Composition_circles_d {
    color: #B3FF5b;
}


.total {
    margin-left: 5px;
}

.Composition {
    margin-left: 10px;
    margin-top: -10px;
    width: 490px !important;
    text-align: left;
}