.headtxt{
font-size: 22px;
}


.nav_value{
	font-weight: 600;

}


.benchmark_card {
height: 380px;
max-width: 100%;
}

.graph_spacing{
	padding-top: 70px;
}

.benchmar_padding{
	margin-bottom: 30px; 
}

.graph_period{

	    margin-top: -25px;
    padding: 10px 18px 14px;
}

.dropdown-menu {
	
    
}


.dropdown_period {
     top:inherit; right: 100%;
        margin-right: 13px;}
 }

#up,#Nup,#down,#Ndown{
 	vertical-align: middle !important;
 }

.highcharts-grid-line{
	 color: #232323;
}
#sub-category{
    background: #2a2a29 !important;
    color: #f88407 !important;
}
#sub-ul{
    max-height: 480px;
    overflow-y: auto;
}