.pt{
    float: right;
    background: #222222;
    padding: 11px;
    border-radius: 5px;
    color: #f88407;
    margin-right: 20px;
    font-size: 19px;
    font-weight: 800;
}
#pt-icon{
    vertical-align: middle;
    padding-left: 9px;
    color: #f88407;
}
.pt:hover, .pt:focus{
    text-decoration: none;
    color: #f88407;
}
a.list-group-item, button.list-group-item {
    cursor: pointer;
}
.headtxt {
    display: inline-block;
    margin-top: 17px !important;
}
.catagory-dd {
    margin-top: 0px;
    /*padding: 10px 22px 14px;*/
    width: 160px;
    height: 50px;
    margin-bottom: 0px; 
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    border-radius: 20px !important;
    background-color: #transparent !important;
}
::-webkit-scrollbar {
    width: 5px !important;
    background-color: #transparent !important;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3) !important;
    background-color: #444 !important;
}



.tt-dataset::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    border-radius: 20px !important;
    background-color: #222 !important;
}
.tt-dataset::-webkit-scrollbar {
    width: 5px !important;
    background-color: #222 !important;
}
.tt-dataset::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1) !important;
    background-color: #f88407 !important;
}

.fund-beater{
    margin-left: 30px;
    border-radius: 6px;
    background-color: #222;
    padding: 12px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.9);
    color: #f88407 !important;
    transition-duration: 0.1s;
    margin-top: -6px;
}

.fund-beatericon{
    padding-left: 10px;
    color: #F57C00;
    vertical-align: middle;
}

.dropdown-header {
    background-color: #000 !important;
    color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px !important;
    border-left: 3px solid #f88407 !important;
}
.catagory-dl {
    height: 230px;
    overflow-y: scroll;
}
button, select, input {
    outline: none;
}
.btn {
    outline: none;
}
.search_icon, .export_icon {
    color: #fff;
}
.search_icon:hover, .export_icon:hover {
    color: #f88407 !important;
    transition: 0.1s;
}
.tt-dataset {
    box-shadow: 0 9px 72px rgb(0, 0, 0);
    margin-left: -14px;
    /*height: 232px;*/
    min-height: 0px;
    max-height: 230px;
    overflow-y: scroll;
}
.list-group {
    border-radius: 5px
}
a.list-group-item, button.list-group-item {
    color: #ffffff;
    font-size: 15px;
    padding: 12px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #222;
    border-top: 1px solid #080808 !important;
    border: none;
}
.list-group {
    width: 290px;
    padding-left: 0;
    margin-bottom: 0px;
}
a.list-group-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f88407;
}
.search-button {
    background-image: none !important;
    background-repeat: no-repeat;
    border-color: transparent!important;
    color: #ccc;
    padding: 10px 0px;
    background-color: transparent;
    outline: none;
}
.search-button:focus {
    outline: none;
}
@media (min-width: 1200px) {
    .graph_card {
    height: 540px;
    max-width: 100%;
    margin-top: 30px !important;
}
.graph_spacing {
    padding-top: 10px;
}
.graph-years {
    float: right;
    background-color: #f88407;
    padding: 9px;
    border-radius: 3px;
    border: transparent;
    width: 150px !important;
    border-bottom: none !important;
}
.headtxt {
    display: inline-block;
}
.comp-catogory {
    margin-top: 10px;
    width: 200px;
}
.title-fundcompare {
    margin-top: 10px;
    margin-bottom: 10px;
}
.compare_from, .compare_to {
    font-size: 24px;
    display: inline-block;
    padding-left: 5px;
}
.seperator {
    padding-left: 5px;
    display: inline;
}
.subdiv {
    padding-top: 5px;
    font-size: 18px;
}
.search-button {
    background-image: none !important;
    background-repeat: no-repeat;
    border-color: transparent!important;
    color: #ccc;
    padding: 10px 0px;
    background-color: transparent;
    outline: none;
}
.form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
    text-shadow: none !important ;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.btn-default {
    background-color: transparent !important;
    border-color: transparent;
}
.fund_compare {
    vertical-align: middle;
}
.search_bar {
    position: relative;
    background-color: #111;
    border-bottom-color: transparent;
    padding: 0px 15px;
    height: 48px;
    border-radius: 5px;
}
.search_text {
    position: relative;
    font-size: 18px;
    border-bottom-color: transparent;
    padding-left: 10px;
    padding-right: 35px;
    padding: 23px 0px;
}
.search_export {
    vertical-align: middle;
}
.fund_compare_section {
    padding-top: 15px;
    padding-bottom: 20px;
    vertical-align: middle;
}
.card {
    background-color: #111;
    margin-top: 0px;
}
.fund_compare_card {
    margin-top: 12px;
    padding: 10px 5px 10px 15px;
    margin-right: 10px;
    float: left;
    width: 24%;
    border-left: 4px solid #0091ea;
    border-radius: 3px;
    font-size: 16px;
}
.fund_compare_name {
    height: 66px !important;
    display: inline-block;
    width: 232px;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 0px;
    margin-bottom: 0px;
}
.nav_value {
    margin-bottom: 1px;
    font-weight: 400;
}
.nav-spacing {
    padding-left: 5px;
    font-weight: 400;
}
.close_icon {
    cursor: pointer;
    z-index: 10;
    color: #333;
    text-shadow: none !important;
    opacity: 1!important;
}
.close_icon:hover {
    color: #f88407;
}
.card_border {
    border-left: 4px solid #BF71FF;
}
.card_border1 {
    border-left: 4px solid #3EC963;
}
.card_border2 {
    border-left: 4px solid #FF697A;
}
.arrow_right {
    cursor: pointer;
    background-color: #111;
    margin-top: -92px;
}
.arrow_right:hover {
    background-color: #222;
}
.dropdown_period {
    top: 47px;
    right: 100%;
    margin-right: 0px;
}
.form-control {
    display: none;
    width: 100%;
    font-size: none;
    line-height: none;
    color: #f7f7f7 !important;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: none;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    */
     box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: none;
}
.search-spacing {
    width: 310px;
    display: inline-block;
    padding-right: 20px;
}
}
@media (max-width:  1200px) {
    .fund_compare_name {
    height: 60px !important;
}
.search_bar {
    position: relative;
    background-color: #111;
    border-bottom-color: transparent;
    padding: 0px 15px;
    height: 48px;
    border-radius: 5px;
}
.search_text {
    position: relative;
    font-size: 18px;
    border-bottom-color: transparent;
    padding-left: 10px;
    padding-right: 35px;
    padding: 23px 0px;
}
.form-control {
    display: none;
    width: 100%;
    font-size: none;
    line-height: none;
    color: #f7f7f7 !important;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: none;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    */
     box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: none;
}
.search-spacing {
    width: 310px;
    display: inline-block;
    padding-right: 20px;
}
.fund_compare_section {
    padding-bottom: 20px;
    vertical-align: middle;
}
.fund_compare_card {
    padding: 10px 5px 10px 15px;
    margin-right: 12px;
    float: left;
    width: 24%;
    border-left: 4px solid #0091ea;
    border-radius: 3px;
    font-size: 16px;
}
.fund_compare_name {
    height: 66px !important;
    display: inline-block;
    width: 182px;
    overflow: hidden;
}
.card_border {
    border-left: 4px solid #BF71FF;
}
.card_border1 {
    border-left: 4px solid #3EC963;
}
.card_border2 {
    margin-right: 0px;
    border-left: 4px solid #FF697A;
}
.h3, h3 {
    font-size: 20px;
}
.dropdown_period {
    top: inherit;
    right: 100%;
    margin-right: 0px;
}
.search_bar {
    position: relative;
    background-color: #111;
    border-bottom-color: transparent;
    /*padding-bottom: 10px;
    margin-top: 5px;
    */
vertical-align: middle;
    height: 48px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 9px;
}
.search_text {
    position: relative;
    font-size: 18px;
    border-bottom-color: transparent;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 35px;
    color: #fff !important;
}
.search_export {
    vertical-align: middle;
    margin-top: -6px;
}
.close_icon {
    cursor: pointer;
    z-index: 12;
    color: #333;
}
.close_icon:hover {
    color: #f88407;
}
}
@media (min-width:  768px) and (max-width: 992px) {
    .fund_compare_card {
    padding: 10px 5px 10px 15px;
    margin-right: 12px;
    float: left;
    width: 45%;
    border-left: 4px solid #0091ea;
    border-radius: 3px;
    font-size: 16px;
}
.fund_compare_name {
    height: 60px !important;
    display: inline-block;
    width: 232px;
    overflow: hidden;
}
.card_border {
    border-left: 4px solid #BF71FF;
}
.card_border1 {
    border-left: 4px solid #3EC963;
}
.seperator {
    padding-left: 5px;
    display: inline;
}
.card_border2 {
    margin-right: 0px;
    border-left: 4px solid #FF697A;
}
.h3, h3 {
    font-size: 20px;
}
.dropdown_period {
    top: inherit;
    right: 100%;
    margin-right: 0px;
}
.close_icon {
    cursor: pointer;
    z-index: 14;
    color: #333;
}
.close_icon:hover {
    color: #f88407;
}
.search_bar {
    position: relative;
    background-color: #111;
    border-bottom-color: transparent;
    /*padding-bottom: 10px;
    margin-top: 5px;
    */
vertical-align: middle;
    height: 48px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 9px;
}
.search_text {
    position: relative;
    font-size: 18px;
    border-bottom-color: transparent;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 35px;
}
.search_export {
    vertical-align: middle;
    margin-top: -6px;
}
.search_icon {
    margin-top: -34px;
    margin-right: 5px;
    color: #ccc;
}
.benchmar_padding {
    padding-top: 20px;
}
}
@media (max-width: 768px) {
    .fund_compare_name {
    height: 60px !important;
}
.fund_compare_card {
    padding: 10px 5px 10px 15px;
    margin-right: 12px;
    float: left;
    width: 45%;
    border-left: 4px solid #0091ea;
    border-radius: 3px;
    font-size: 16px;
}
.fund_compare_name {
    height: 57px !important;
    display: inline-block;
    width: 232px;
    overflow: hidden;
}
.card_border {
    border-left: 4px solid #BF71FF;
}
.card_border1 {
    border-left: 4px solid #3EC963;
}
.card_border2 {
    border-left: 4px solid #FF697A;
}
.h3, h3 {
    font-size: 20px;
}
.dropdown_period {
    top: inherit;
    right: 100%;
    margin-right: 0px;
}
.close_icon {
    cursor: pointer;
    z-index: 14;
    color: #333;
}
.close_icon:hover {
    color: #f88407;
}
.search_bar {
    position: relative;
    background-color: #111;
    border-bottom-color: transparent;
    /*padding-bottom: 10px;
    margin-top: 5px;
    */
vertical-align: middle;
    height: 48px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 9px;
}
.search_text {
    position: relative;
    font-size: 18px;
    border-bottom-color: transparent;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 35px;
}
.search_export {
    vertical-align: middle;
    margin-top: -6px;
}
.search_icon {
    margin-top: -34px;
    margin-right: 5px;
    color: #ccc;
}
.benchmar_padding {
    padding-top: 20px;
}
.suggested-name {
    background-color: white;
}
#fundSearch .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}
