.total{
    margin-left: 20px;
}
.hr_mod {
    margin-top: 20px;
}
.maturity1, .modified_duration1 {
    width: 108px;
}
.govt_security1 {
    width: 98px;
}
.schemes_data {
    text-align: center;
    padding: 12px 0px;
    font-size: 18px;
    margin-bottom: 0px;
    margin-left: 0px !important;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.schemes_data li {
    vertical-align: center;
}
.schemes {
    padding-right: 0px;
    text-align: left;
}
.scheme_code {
    width: 146px;
}
h4 {
    font-size: 20px;
}
.fund-period {
    margin-top: 6px;
}
.schemes_data:hover {
    background-color: #222;
}
.collapse_data {
    padding: 12px 0px;
    font-size: 18px;
    margin-bottom: 0px;
    margin-left: 0px !important;
    border-bottom: 1px solid #000;
}
.classification, .aa_rated, .maturity1, .modified_duration1, .govt_security1, .assert_size {
    padding-left: 85px;
}
.scheme_details {
    padding: 18px 0px;
    padding-right: 22px;
    font-size: 16px;
}
.schemes {
    padding-top: 20px;
}
.table_mod {
    font-size: 16px;
    font-weight: 600;
}
.head_schemes_padding, .schemes_spacing {
    padding-left: 66px !important;
}
.border_bottom {
    border-bo
}
.Schemes_head {
    margin-left: 40px;
    padding: 15px;
    display: inline-block;
    width: 300px;
    vertical-align: middle;
}
.NAV_head {
    margin-left: 120px;
    margin-right: 10px;
    margin-left: 100px;
}
.NAV_head, .d_head , .w_head, .m_head, .y_head, .ys_head, .asset_size_head {
    padding: 15px 0px;
    width: 93px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.ys_head {
    padding-right: 20px;
}
.head_border {
    border-bottom: 2px solid #000;
}
.data_border {
    border-bottom: 1px solid #000;
}
.table_data_mod {
    cursor: pointer;
    font-size: 18px;
}
.Schemes_data {
    padding: 15px;
    display: inline-block;
    width: 340px;
    vertical-align: middle;
}
.fund_name, .exit_load {
    padding-left: 15px;
}
.NAV_data, .d_data , .w_data, .m_data, .y_data, .ys_data {
    padding-left: 15px;
    padding: 15px 0px;
    width: 93px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.table_data_mod:hover {
    background-color: #333;
    transition: 0.2s;
}
.Sharpe_Ratio {
    text-align: left !important;
    width: 108px !important;
    margin-top: -18px;
    line-height: 32px;
}
.B-Ratio {
    text-align: left !important;
    margin-left: 100px;
    margin-right: 0px;
    margin-top: -18px;
    line-height: 32px;
}
.Composition {
    margin-left: 10px;
    margin-top: -10px;
    width: 482px !important;
    text-align: left;
}
.Composition_smallcap {
    border-top-left-radius: px;
    border-bottom-left-radius: px;
    display: inline-block;
    height: 12px;
    background-color: #bf71ff;
    width: 15%;
    margin-left: -3px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
}
.Composition_midcap {
    display: inline-block;
    height: 12px;
    background-color: #ffeb3b;
    width: 55%;
    margin-left: -7px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
}
.Composition_largecap {
    display: inline-block;
    height: 12px;
    background-color: #ff9800;
    width: 30%;
    margin-left: -7px;
    border-top-right-radius: px;
    border-bottom-right-radius: px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
}

.Composition_others{
    display: inline-block;
    height: 12px;
    background-color: #03a9f4;
    width: 30%;
    margin-left: -7px;
    border-top-right-radius: px;
    border-bottom-right-radius: px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
}
.Composition_bar {
    width: 558px
    width: 426px;
    margin-left: 4px;
    margin-top: 10px;
    height: 20px;
}


.exit_load {
    margin-top: -18px;
    line-height: 32px;
    display: inline-block;
    text-align: left !important;
}
.exit_load_data, .B-Ratio_data, .Sharpe_Ratio_data {
    text-align: left !important;
    padding-top: 10px;
    font-weight: 600;
}
.Composition_circles {
    padding: 0px 3px;
    font-size: 12px;
}
.legents {
    font-size: 14px;    
    /*display: inline-block;*/
}
.Composition_circles_s {
    color: #bf71ff;
}
.Composition_circles_m {
    color: #ffeb3b;
}
.Composition_circles_l {
    color: #ff9800;
}

.Composition_circles_o {
    color: #03a9f4;
}
.midcap_percent, .smallcap_percent, .largecap_percent {
    font-weight: 600;
}
@media (min-width:  768px) and (max-width: 992px) {
    .Schemes_data {
    padding: 15px;
    display: inline-block;
    width: 240px;
    vertical-align: middle;
}
.NAV_head, .d_head, .w_head, .m_head, .y_head, .ys_head, .asset_size_head {
    padding: 15px 6px;
    width: 66px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.NAV_data, .d_data, .w_data, .m_data, .y_data, .ys_data {
    padding-left: 15px;
    padding: 15px 0px;
    width: 66px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.table_mod {
    font-size: 16px;
    font-weight: 600;
}
.table_data_mod {
    cursor: pointer;
    font-size: 16px;
}
.NAV_head {
    margin-right: 0px;
    margin-left: 0px !important;
}
.fund_name, .exit_load {
    padding-left: 15px;
}
.Composition {
    margin-left: 10px;
    margin-top: -10px;
    width: 300px !important;
    text-align: left;
}
.fund-period {
    margin-top: 9px;
}
.fund-period li {
    padding-right: 14px;
    padding-left: 0px;
}
}
