html{
    padding: 0px;
}

header{
    position: fixed;
}

.compare-sec{
    margin-top: 10px;
}

.body{
	font-family: 'Roboto', sans-serif !important;
	color: #333 !important;

}
.container{
	width: 595.276px;
}

.title {
    font-size: 20px;
    margin-top: 40px;
    font-weight: 500 !important;    
}

.plr-0{

	padding-left: 0px !important;
	padding-right: 0px !important;
}

.title-spacing{
    padding-left: 15px;
    font-weight: 500 !important;
    font-size: 18px;   
    margin-top: 10px;
}

hr{
	border-color: #888 !important;
}

.scheme-spacing{
    width: 300px;
    display: inline-block;
    margin-right: 50px; 
}

.scheme-border{

    border-left: 4px solid #0091ea;
}

.scheme-name {
   /* vertical-align: middle;*/
    margin: 3px 0px 0px 0px;
    padding-left: 10px;
    font-size: 16px;
    padding-right: 30px;
    font-weight:500;
    height: 50px; 

}
.nav{
	font-size: 12px;
    margin-top: 3px;
}

.value{
	font-size: 20px;
}

.positive{
    color: #2db34a;
    font-weight: 500 !important;	
}

.negetive{
    color: #D84E4E;
    font-weight: 500 !important;	
}


.scheme-dataspacing{
    margin-top: 20px;
    border-bottom: 1px solid #999;
    padding-bottom:5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-right: 15px;
}


.graph-spacing{
	padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-right: 15px;
}

ul li img {
    height: 35px;
    padding-right: 25px;
}

footer{
   padding-top: 1000px;
    position: fixed;

}
.footer-spacing{
    border-top: 1px solid #888 ;
	padding-top: 15px !important;
	padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-right: 15px;


}

.current-nav,.returns{
    display: inline-block;
    width: 120px;
}


.returns{
    margin-left: 10px;
}