



#scroll-customize::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
	border-radius: 20px !important;
	background-color: #transparent !important;
}

#scroll-customize::-webkit-scrollbar {
    width: 5px !important;
    background-color: #transparent !important;
}

#scroll-customize::-webkit-scrollbar-thumb
{
	border-radius: 10px !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
	background-color: #222 !important;
}


.graph_card{
height: 52vh;
    max-width: 100%;
    margin-top: 15px !important;
}

.graphindex-head{
	display: inline-block;
	font-size: 26px;
}

.index-value{
	font-size: 22px;
	padding-left: 5px;

}

.globalgraph-years{
	width: 95px !important;
    background-color: #f88407 !important;
    padding: 9px !important;
    border-radius: 3px !important;
    border: transparent !important;
}

.graphindex-points{
	font-size: 26px;
	padding-left: 5px;
}

.index-spacing{
	margin-top: 20px;
}

.index-card{
	cursor: pointer;
	padding: 15px 0px;
    font-size: 16px;
    padding-left: 15px!important;
   
}

.padding-lr-zero{
	padding-left: 0px;
	padding-right: 0px;
}

.padding-l-zero{
	padding-left: 0px;
}

.active-card{
	background-color: #222 !important;
border-left: 7px solid #f88407 !important;
}

.index-card:hover{
	background-color: #333;
	transition-duration: 0.3s;
}

.points-div{
	font-size: 18px;
}

.side-bar{
	max-height: 75vh;
    overflow-y: scroll;
}


.index-head{
	font-size: 20px;
    margin: 0px;
        padding-bottom: 8px;
}

.pointssel-div{
font-size: 20px;
    padding-top: 10px;
    display: inline-block;
}

.arrow{
	vertical-align: middle;
}

