.logout-icon {
    font-size: 20px;
    vertical-align: middle;
    padding-left: 10px;
}
.logout:hover .material-icons {
    color: #f88407 !important;
}
.logout{
    text-decoration-line: none;
}
.body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background-color: #000 !important;
    color: #fafafa;
}
h2 {
    font-size: 26px;
}
.inline {
    display: inline-block;
}
.panel-group {
    margin-bottom: 0px;
}
.navbar-brand>img {
    display: block;
    height: 35px;
    margin-top: -2px;
}
.navbar {
    border-radius: 0px;
    border: 0px 0px 1px 0px solid #000000 !important;
    background-color: #000 ;
    padding: 0px 10px 0px 10px;
    background-image: none;
    color: #fafafa;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
.navbar-inverse {
    border-color: #222!important;
}
.navbar-header {
    margin-left: 30px;
}
.active_navbar_header {
    color: #f88407 !important;
    border-bottom: 2px solid #f88407;
    padding-bottom: 30px;
}
.navbar-inverse .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fafafa ;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #f7f7f7 ;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background-image: -webkit-linear-gradient(top, #080808 0, #0f0f0f 100%);
    background-image: -o-linear-gradient(top, #080808 0, #0f0f0f 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#080808), to(#0f0f0f));
    background-image: linear-gradient(to bottom, #080808 0, #0f0f0f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .25);
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}
.padding_bottom {
    margin-bottom: 50px !important;
}
.padding_tb {
    margin: 20px 0px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #eee;
    border-color: #f88407;
}
.nav .open>a, .nav .open>a:hover {
    background-color: #eee;
    border-color: #f88407;
}
.active_navbar_dropdown {
    background-color: #f88407;
    color: #fff;
}
.dropdown-menu li>a {
    padding: 10px 20px;
    border-bottom: 1px solid #000;
}
.dropdown-menu li:last-child a {
    border-bottom: none;
}
.dropdown-menu {
    font-size: 16px;
}
hr {
    margin-top: 5px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #222;
}
select {
    width: 300px;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff !important;
    border: none;
    padding-bottom: 13px;
}
select option {
    margin: 40px;
    background-color: #222;
    color: #fff;
    border-color: none;
}
select option :hover {
    background-color: #f88407;
}
.form_select1 {
    /*margin-top: 10px;*/
}
.form_select {
    margin-top: 35px;
}
.card {
    background-color: #111;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.8);
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}
.table {
    border-color: #000;
    margin-bottom: 0px;
}
.fund-period {
    margin-top: 10px;
    padding-left: 0;
    list-style: none;
    color: #fafafa;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-left: 0px;
}
.fund-period li a {
    color: #fafafa;
    text-decoration: none;
}
.fund-period li {
    padding-right: 35px;
    padding-left: 0px;
}
.active_fund_period {
    color: #f88407 !important;
    border-bottom: 2px solid #f88407;
    padding-bottom: 15px;
}
.caret {
    margin-left: 10px;
}
.headtxt {
    margin-top: 10px !important;
}
.all_schemes {
    margin-top: 20px;
}
.spacing {
    margin-left: 260px;
}
.navbar-inverse .navbar-nav>li>a:hover {
    cursor: pointer;
}
.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>th {
    font-size: 16px;
    padding: 15px 15px;
    font-weight: 600;
    text-align: center;
}
.table>tbody>tr>th:first-child .schemes, .table>tfoot>tr>th:first-child .schemes, .table>thead>tr>th .schemes {
    text-align: left;
}
table>tbody>tr td {
    text-align: center;
}
.table>tbody>tr>td {
    padding: 12px;
    font-size: 18px;
    font-weight: 500;
}
.table>thead>tr>th {
    vertical-align: middle;
    border-bottom: 2px solid #000;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #000;
}
.arr-icon {
    position: absolute;
    margin-left: 8px;
    margin-bottom: 4px;
    margin-top: 1px;
}
.padding-lr-zero {
    padding-right: 0px;
    padding-left: 0px;
}
.collapse-icon {
    font-size: 32px !important;
    position: absolute;
    padding-left: 0px;
    margin-top: -4px;
}
.table-hover>tbody>tr:hover {
    background-color: #222;
}
.all-schemes {
    padding-top: 10px;
}
.table-hover>tbody>tr {
    transition: 0.2s;
}
.table-hover .list_radio {
    display: none;
    transition: 1s;
    transition-duration: 0.1s;
}
.material-icons {
    color: white;
}
.material-icons:hover {
}
.positive {
    color: #17C3A0;
    font-weight: 600 !important;
}
.negetive {
    color: #D84E4E;
    font-weight: 600 !important;
}
button {
    padding: 12px 20px;
    background: #f88407;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    vertical-align: middle;
}
/*button:hover {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.7) ;
}
*/

.Composition_bar>li {
    padding-right: 0px;
    padding-left: 0px;
}


.group {
    margin-top: 30px;
}
input {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px 10px 0px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #95989A;
    background-color: transparent;
}
input:focus {
    outline: none;
}
/* LABEL ======================================= */
label {
    color: #fafafa;
    font-size: 15px;
    font-weight: 400 ;
    position: absolute;
    pointer-events: none;
    
  top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
/* active state */
input:focus ~ label, input:valid ~ label {
    top: -15px;
    font-size: 12px;
    font-weight: 400;
    color: #f88407;
    border-bottom: 0px;
}
/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}
.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #f88407;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 100%;
}
/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 20%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
    background: #f88407;
}
to {
    width: 0;
    background: transparent;
}
}
@-moz-keyframes inputHighlighter {
    from {
    background: #f88407;
}
to {
    width: 0;
    background: transparent;
}
}
@keyframes inputHighlighter {
    from {
    background: #f88407;
}
to {
    width: 0;
    background: transparent;
}
}
.drop {
    background: transparent;
    border: none;
    background-image: none;
    box-shadow: none;
    border-bottom: 1px solid;
    border-radius: 0px;
    width: 300px;
    margin-left: -18px;
    margin-bottom: 25px;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 8px;
    vertical-align: middle;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color: #f88407;
    border-bottom: 1px solid;
}
.drop:hover {
    color: #f88407;
    background-color: transparent !important;
    border-bottom: 1px solid #f88407;
}
.drop:active {
    background-color: transparent !important;
    border-color: transparent !important;
}
.drop:focus {
    background-color: transparent !important;
    border-color: transparent !important;
    border: 0px;
}
.modal-header {
    padding-bottom: 0px;
}
.modal-body {
    padding-top: 0px !important;
}
.dropdown_mod {
    background-image: none !important;
    background-repeat: no-repeat !important;
    border-bottom: 1px solid #fff;
    text-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    width: 300px;
    text-align: left;
    margin-left: -15px;
    border-radius: 0px;
    padding-bottom: 10px;
    margin-top: 25px;
    padding-left: 0px;
}
.dropdown_mod:hover {
    color: #f88407;
    border-bottom-color: #f88407;
}
.dropdown_mod:active {
    color: #f88407;
    border-bottom-color: #f88407;
}
.dropdown-menu {
    right: 100%;
    background-color: #222;
    transition-duration: 0.5s;
}
.dropdown-menu li {
    color: #fff;
}
.dropdown-menu>li>a {
    color: #fff;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #f88407;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
    background-image: linear-gradient(none);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: no-repeat;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f88407;
    background-image: none;
}
.dropdown_nav:hover .dropdown-menu_nav {
    display: block;
}
.dropdown_period {
    right: 100%;
    margin-right: 0px;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #f88407;
}
@media (max-width:  1024px) {
    .schemes_spacing, .head_schemes_padding {
    margin-left: 50px;
    width: 176px;
}
.list_radio, .list_radio_checked {
    font-size: 22px !important;
    margin-left: -6px !important;
}
}
@media (min-width:500px) and (max-width: 992px) {
    .navbar-brand>img {
    display: block;
    height: 20px;
    margin-top: 3px;
}
.navbar-header {
    margin-left: 0px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px;
}
.navbar {
    font-size: 16px;
}
h2 {
    font-size: 22px;
}
.schemes_spacing, .head_schemes_padding {
    margin-left: 50px;
    width: 130px;
}
.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>th {
    font-size: 14px;
}
.table>tbody>tr>td {
    padding: 12px;
    font-size: 14px !important;
    font-weight: 500;
}
.schemes_spacing, .head_schemes_padding {
    margin-left: 37px;
}
.list_radio, .list_radio_checked {
    font-size: 20px !important;
    margin-left: -12px !important;
}
.fund-period {
    font-size: 15px;
}
.add_button {
    font-size: 14px;
}
}
/*For Ajax Loader*/

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 90000000;
    animation-name: example1;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    border-radius: 0%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
}
/*@keyframes example1 {
    from {
    border-radius: 80%;
    width: 50%;
    height: 92%;
    top: 4%;
    left: 25%;
}
to {
    border-radius: 0%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
}
}
*/



.loader-outer {
    position: fixed;
    top: 46%;
    left: 50%;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    background-color: #464646;
    box-shadow: 0px 0px 60px #2b2b2b;
}
.loader {
    margin-left: 20px;
    margin-top: 20px;
    border: 3px solid #333;
    border-radius: 50%;
    border-top: 3px solid #f88407;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
    0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes spin {
    0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
.popup-img {
    height: 80px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.popup-card {
    width: 400px !important;
    margin-top: 15px !important;
    background-color: #333 !important;
    border-radius: 6px !important;
    padding: 30px !important;
}
.allscheme-title {
    background-color: #000;
    padding: 20px;
    margin: 0px;
}
.card-spacing {
    margin-top: 0px !important;
}
.selected-headreturn {
    color: #f88407;
}
.active-sort {
    background-color: #f88407 !important;
}
.dropdown-menu {
    font-size: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5) !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.p-lr-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}