body{
	margin-top: 70px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #9d9b9b24;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #f88407bf;
    border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f88407;
    border-radius: 20px;
}

.data-input{
	margin-bottom: 5px;
    font-size: 15px;
    border: none;
    background-color: #111;
    border-radius: 31px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    width: 100%;
    text-align: center;
}

.add-inv{
	font: 35pt;
	padding-left: 25%;
}

.dur-btn{
	margin-bottom: 0px !important;
    margin-right: 15px;
}

.add-btn{
	margin-bottom: 0px !important;
    vertical-align: middle;
    padding: 5px 10px;
}

.sub-btn{
	background: #f88407;
}

.chart{
	height: 400px !important;
	border-radius: 5px !important;
	background: gray;
	margin-bottom: 10px;
}

h2{
	display: inline-block;
}

.header-div{
	margin-bottom: 20px;
}

.bottom{
	height: 40px !important;
}

.modal-content{
	background: #272727 !important;
}

.modal-header{
	border-bottom: none !important;
}

#inv_name{
	width: 100%;
	margin-bottom: 20px;
}

#inv_name_select,#search-scheme,.bootstrap-tagsinput{
	width: 100% !important;
	margin-bottom: 10px;
}

.bootstrap-tagsinput{
	background: none;
}

.tag{
	background-color: #f88407;
	font-size: 13px;
}

.tt-dataset {
    box-shadow: 0 9px 72px rgb(0, 0, 0);
    margin-left: -14px;
    min-height: 0px;
    max-height: 230px;
    overflow-y: scroll;
}

.list-group {
    width: 290px;
    padding-left: 0;
    margin-bottom: 0px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #222;
    border-top: 1px solid #080808 !important;
    border: none;
}

a.list-group-item {
    color: #ffffff;
    font-size: 15px;
    padding: 12px;
}

a.list-group-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #f88407;
}

.twitter-typeahead{
	width: 100% !important;
}

.p-lr-0{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.h4-color{
	color: #f88407;
}

.mb-10{
	margin-bottom: 10px;
}

#delete-user{
    padding: 10px;
    background: #0000006e;
    border-radius: 25px;
}

#inv_name_del{
    width: 100%;
}

td{
    text-align: left !important;
}

tr{
    /*border-bottom: 1px solid white;*/
}

table{
    width: 100%;
}

tbody > tr > td {
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

thead > tr {
    color: #f88406;
    font-size: 16px;
}

.table-div{
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
}

#delete-user:hover, .delete-scheme:hover {
    cursor: pointer;
}



