
.index-body {
    font-family: 'Lato', sans-serif;
}
.login-title {
    font-weight: 700;
    color: #F88407;
}
button {
    font-weight: 400;
    background: #f88407;
}
.login-textbox {
    font-weight: 700;
    font-size: 16px;
}
.index-body {
    background-color: #fafafa !important;
    font-weight: 300;
    font-size: 14px;
    color: #fafafa;
}
.v-align {
    display: flex;
    align-items: center;
    height: 94vh;
}
.card-width {
    display: block;
    width: 400px !important;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff !important;
    box-shadow: 0px 5px 15px 0px #dedbdb !important;
}
.login-logo {
    height: 50px;
    margin-top: 30px;
}
.login-title {
    color: #F88407;
}
.login-textbox {
    background-color: #efefef;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    margin-top: 10px;
    color: #555;
    width: 75%;
}
.inputfield-group {
    margin-top: 20px;
}
.label {
    font-size: 16px;
    margin-left: 50px;
    font-size: 16px;
    margin-bottom: 20px;
    /*padding-top: 50px;*/
    font-weight: 400;
    color: #555 !important;
}
.login-cases {
    display: block;
    font-size: 16px;
    text-align: center;
}
.failed {
    color: #FF343B;
    font-weight: 700;
}
button {
    padding: 12px 40px !important;
    border: none;
    border-radius: 50px !important;
    font-size: 16px;
    margin-bottom: 15px;
    vertical-align: middle;
}
.login-button {
    margin-top: 20px;
    margin-bottom: 20px;
}
.abstract {
    margin-top: -20px;
}
