.policy-date {
    display: block;
    font-size: 16px;
}
.policy-percent {
    font-size: 24px;
    display: inline-block;
}
.policy-head {
    font-size: 20px;
    margin: 0px;
    padding-bottom: 8px;
    width: 300px;
    display: inline-block;
}
.policyhead-graph, .policyindex-date {
    display: inline-block;
    font-size: 22px;
}
.policyindex-percentage {
    font-size: 28px;
}
.file-upload>input {
    display: none;
}
.file-upload {
    display: inline-block;
}
.fileupload-icon {
    cursor: pointer;
}
.fileupload-icon:hover {
    color: #f88407;
}
/*input:valid ~ label {
    top: 0px !important;
    color: #f88407;
}
*/
.upload-label {
    color: #fafafa;
    position: static !important;
    top: 0px !important;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
#modal-dialog {
    width: 450px;
    margin: 0px auto;
}
.modal-title {
    font-weight: 500;
    display: inline-block;
    color: #fafafa;
}
.modal-header {
    margin-bottom: 0px !important;
}
