.table {
	background-color: #111111;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
}

.table th,td {
	padding: 15px !important;
	text-align: center;
    border-bottom: 2px solid #000 !important;
}

.left-align {
	text-align: left !important;
}
.navbar-header{
    margin-right: 20px;
}
.dropdown{
	display: inline-block;
}
.more-btn{
	background-color: transparent;
	border: none;
}
.more-btn:focus{
	outline: none;
}
.dropdown-menu{
	background-color: #222222;
	margin-right: 35px;
	margin-top: -40px;
}
.dropdown-menu li>a{
	padding: 14px !important;
}
.boder-bottom {
	border-bottom: 1px solid #000; 
}
.dropdown-menu li:hover, li:focus{
    background-color: #f88407 !important;
}
.dropdown-menu li>a:hover {
	background-color: #f88407 !important;
	background-image: none;
	color: white !important;
}
.button_popup {
    padding: 10px 8px !important;
    background: #f88407 !important;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin: 0px;
    float: right;
    vertical-align: middle;
    margin-top: 15px;
}
.change-btn{
    padding: 10px 8px !important;
    background: #f88407 !important;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin: 0px;
    vertical-align: middle;
    margin-top: 15px; 
}
h3{
    display: inline-block;
}
.add-amc {
    vertical-align: middle;
    margin-right: 3px;
}
.modal-content{
	background-color: #272727 !important;
}
.modal-header{
	border:none;
}
.close {
    font-size: 30px;
    font-weight: 500;
	text-shadow: none; 
    opacity: 1; 
}
.input-css{
	width: 100% !important;
}
.button-mod {
    padding: 10px 20px !important;
    background: #f88407 !important;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 0px;
    vertical-align: middle;
}
select{
    width: 100%;
    padding: 15px 10px 10px 5px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid gray;
    color: gray;
    
}
select:focus, select:active {
    outline: 0;
}
option{
	background-color: #222222;
	max-height: 100px;
	overflow-y: scroll;
}
option:hover, option:active, option:focus{
	background: #f88407;
}
#changePassDiv{
    width: 40%;
}

#pass-state {
    display: block;
    text-align: center;
    color: #f88407;
    font-size: 18px;
    font-weight: 600;
}
body{
    padding: 70px;
}