.container {
    background-color: #111111 !important;
    margin-top: 20px !important;
    border-radius: 5px !important;
}
.scheme-ul {
    list-style: none;
    /*background-color: #000 !important;*/
    max-height: 500px;
    min-height: 500px;
    overflow-y: scroll;
    margin-top: 5px;
    margin-left: 2px;
}
.scheme-ul > li {
    padding: 20px !important;
    background-color: #111111;
    /*margin-bottom: 1px !important;*/
    /*margin-right: 1px !important;*/
    border-bottom: 1px solid #000;
}
.active-scheme {
    border-left: 4px solid #f88407;
    background-color: #333333 !important;
}
.form-span {
    font-size: 16px;
}
.total-div {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-left: 10px !important;
    background-color: #202020 !important;
    border-left: 2px solid #f88407;
}
.total-p {
    margin: 10px;
}
.button_popup {
    padding: 10px 20px !important;
    background: #f88407 !important;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 0px;
    vertical-align: middle;
}
#scheme-name {
    padding-left: 30px !important;
}
.check-icon{
    color: #3EC963;
}

