img {
    height: 45px;
    margin: 10px;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background-color: #000 !important;
    color: #fafafa;
}
.navbar-default {
    background-color: #000;
    background-image: none;
    border-bottom: 1px solid #e7e7e750;
}
li > a {
    padding: 23px !important;
    font-size: 16px;
    color: #fafafa !important;
}
li > a:hover {
    color: #f88407 !important;
}
.navbar-nav>li>a {
    line-height: 21px !important;
}
.active-menu {
    border-bottom: 3px solid #f88407;
    color: #f88407 !important;
}
.logout-icon {
    vertical-align: middle;
    padding: 0px 5px 4px 5px;
}
.navbar-right > li > a {
    padding: 21px !important;
}
.user-name {
    display: block;
    font-weight: 600;
}
.info-li {
    margin: 15px;
}
.chart-li {
    margin: 10px;
}
/* Pie Chart */
.progress-pie-chart {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #222222;
    position: relative;
}
.progress-pie-chart.gt-50 {
    background-color: #f88407;
}
.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    clip: rect(0, 50px, 50px, 25px);
}
.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    clip: rect(0, 25px, 50px, 0);
    background: #f88407;
    transform: rotate(60deg);
}
.gt-50 .ppc-progress {
    clip: rect(0, 25px, 50px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 50px, 50px, 25px);
    background: #222222;
}
.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 32px/2);
    top: calc(50% - 32px/2);
    width: 32px;
    height: 32px;
    background: #000;
    text-align: center;
    display: table;
}
.ppc-percents span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #f88407;
}
.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}
/* Padding */
.p-0 {
    padding: 0px !important;
}
.plr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.pbt-0 {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.pl-0 {
    padding-left: 0px !important;
}
.pr-0 {
    padding-right: 0px !important;
}
.w-100 {
    width: 80% !important;
}
.mb-20 {
    margin-bottom: 25px !important;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #9d9b9b24;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #f88407bf;
    border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f88407;
    border-radius: 20px;
}
/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 45px;
}
input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 90%;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: transparent;
}
input:focus {
    outline: none;
}
/* LABEL ======================================= */
label {
    color: #999;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
/* active state */
input:focus ~ label, input:valid ~ label {
    top: -10px;
    font-size: 12px;
    color: #F88403;
}
/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 90%;
}
.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #F88403;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}
/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}
/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
    background: #F88403;
}
to {
    width: 0;
    background: transparent;
}
}
@-moz-keyframes inputHighlighter {
    from {
    background: #F88403;
}
to {
    width: 0;
    background: transparent;
}
}
@keyframes inputHighlighter {
    from {
    background: #F88403;
}
to {
    width: 0;
    background: transparent;
}
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}