

.maturity,.modified_duration,.govt_security{
	width: 70px;
}
.aa_rated{
width: 90px;
}
.schemes{
    padding-right: 20px;}

.list_radio{

    padding-top: 13px;}

.maturity, .modified_duration, .govt_security{
    width: 110px;}


.schemes{
	padding-right: 20px; 
}


.arr-icon{
	cursor: pointer;
}

.panel_mod{

	max-width: 100%;
}

.order{

	border-top:none;

	  background: transparent;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: height 2s;
}

.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>th {
    font-size: 16px;
    padding: 15px 8px !important;
    font-weight: 600;
    text-align: center;
}

.schemes {
     padding-right: 0px; 
}

.head_schemes_padding, .schemes_spacing {
    padding-left: 20px !important;
}



@media (max-width:  1024px){

.schemes_spacing, .head_schemes_padding {
	 padding-left: 2px !important;
    width: 164px;
}

}

@media (min-width:  768px) and (max-width: 992px){


.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>th {
    font-size: 14px;}
.schemes_spacing, .head_schemes_padding {

    width: 85px;
}


}