.list_radio, .list_radio_checked {
    vertical-align: middle;
    padding-left: 0px;
    padding-top: 2px !important;
    color: #b3b3b3;
    cursor: pointer;
}
.header-width {
    width: 400px !important;
}
.edit_options {
    float: right;
    margin-top: -32px;
}
.scheme_code {
    width: 130px;
}
.small_cap {
    width: 115px;
}
.mid_cap {
    width: 105px;
}
.large_cap {
    width: 117px;
    '
}
.assert_size {
    width: 110px;
}
.exitload {
    width: 91px;
}
.classification {
    width: 96px;
}
.radio_button_hover {
}
.edit_icon, .delete_icon {
    /*display: none;
    */

}
.edit_icon_active, .delete_icon_active {
    padding: 12px;
    background-color: #111;
    border-radius: 41px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.9) ;
    color: #f88407 !important;
    transition-duration: 0.4s;
}
.edit_options>li {
    padding-left: 30px;
}
.table-hover>tbody>tr:hover td:first-child .list_radio {
    display: block;
    transform: 1s;
    transition-duration: 0.3s;
}
.table-hover>tbody>tr:hover td:first-child .list_radio_checked {
    display: block;
    transform: 1s;
    transition-duration: 0.3s;
}
table>tbody>tr td {
    text-align: center;
}
table>tbody>tr td:first-child {
    text-align: left !important;
}
.list_radio_checked {
    color: #f88407  !important;
}
.table-hover>tbody>tr td:first-child .list_radio_checked {
}
.add_button {
    padding: 12px 20px;
    background: #f88407;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    vertical-align: middle;
}
.add_button:hover {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.7) ;
}
.add_icon:hover {
    color: #ffffff !important;
}
.add_icon {
    padding-right: : 3px;
    vertical-align: middle;
    font-size: 22px;
}
.schemes-padding {
    margin-top: 85px;
    position: fixd;
}
/*.fund-period li {
    padding-left: 0px !important;
    padding-right: 40px;
}
*/
.table-wrapper{
    height: 68vh;
    overflow-y: scroll;}
@media (min-width:  768px) and (max-width: 992px) {
}

#classification-edit {
    margin-top: 8px;
}
select {
    width: 300px;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff !important;
    border: none;
    padding-bottom: 13px;
}
select option {
    margin: 40px;
    background-color: #222;
    color: #fff;
    border-color: none;
    width: 300px !important;
}
.modal-title {
    font-weight: 500;
    display: inline-block;
    color: #fafafa;
}

.Composition_bar>li {
    padding-right: 0px;
    padding-left: 0px;
}

#scroll-customize::-webkit-scrollbar-track {
    border-radius: 20px !important;
    background-color: #222 !important;
}
#scroll-customize::-webkit-scrollbar {
    width: 5px !important;
    background-color: #222 !important;
}
#scroll-customize::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background-color: #f88407 !important;
}

.composition{
    margin-bottom:20px; 
    background-color: #3a3a3a;
    padding: 10px;
    width: 670px;
    vertical-align: center;
    border-left: 2px solid #f88407;
    
}

