.modal-body {
        padding-left: 45px;
}

.InfoModal{
    display: none;
}

.modal-content{
    background-color: #272727;
    margin: 40px 30px;
}

.modal-title{
text-align: : left;
font-weight: 600;
}

.modal-header{
    padding-left: 60px;
    border-bottom: none;
    padding-top: 40px;
    padding-bottom: 35px;
}

.modal-dialog {
    width: 850px;
    margin: 0px auto;
}

.button_popup{
    padding: 10px 16px !important;
    background: #f88407 !important;
    border: none ;
    border-radius: 5px;
    font-size: 16px;
    margin: 25px 0px;
    vertical-align: middle;
}
.button_popup:hover{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.7) ;
}

.upload{
    outline: none;
    border-bottom: 1px solid #fafafa;
}


.upload_icon{
    cursor: pointer !important;
    margin-left: 200px;
    margin-top: 0px;


}
.modal-header .close {
     margin-top: 0px !important; 
     margin-bottom: 0px !important;
}

.upload_icon:hover{
    color:#f88407 !important;
}
.upload_bar    { 
    position:relative; 
    display:block; 
    width:300px;
    height: 1px;   
background-color: #f7f7f7;
 margin-top: 38px;}

 .close{
    margin-right: 10px;
 margin-right: 28px;
    margin-top: -28px;
 }
.close:hover{
    color:#f88407 !important;
}

 .arrow_down{
        margin-right: -15px;
 }

 .add_amc{
    color: #f88407;
    position: absolute;
    margin-left: 245px;
    cursor: pointer;
 }

.file_input{
    display: none !important;
}

#file_uploadevent{
    
    cursor: pointer;
    border-bottom: 1px solid #fff;
    width: 300px;
}

.file_uploadicon{
    pointer-events: auto;
    padding-bottom: 5px;
}

.label-upload{
    font-size: 14px;
    color: #fff;
}

.fileupload-grp{
margin-top: 50px;}

.file_uploadicon:hover{
    color:#f88407;
}


select{
    outline: none;
}

.edit_icon_active, .delete_icon_active{
    color: #fff !important;
}


.edit_icon_active:hover, .delete_icon_active:hover{
    color: #f88407 !important;
}