/*For Tv Module*/

#master-div{
    /*margin-top: 55px;*/
}

input{
    width: 100%;
}

h4,h3{
    display: inline-block;
}

.index-val,.index-pe{
    font-size: 15px;
    margin-left: 5px;
    font-weight: bold;
}

.index-pe{
    color: #f88407;
}

#pick-date-id,#update-pe{
    margin-top: 15px !important;
    padding: 5px 10px !important;
    background: #222222 !important;
    color: #f88407 !important;
    margin-left: 10px;
}

.dropdown-menu{
    top: 80%;
}

.graph-div {
    /*background: #333333;*/
    height: 15vh;
}

table{
    margin-top: 25px;
    font-size: 15px;
    font-weight: bold;
}

th{
    background: #393939;
    text-align: center;
    padding: 8px;
}

tr{
    background: #171717;
    border-bottom: solid 1px #000000;
}

.pe-val{
    color: #f88407;
}

td{
    text-align: center !important;
    padding: 8px;
}

#sector{
    text-align: left !important;
    padding-left: 15px;
    width: 170px;
}

.table-div{
  display: block;
  max-height: 32vh;
  overflow-y: scroll;
  padding: 0px;
}

.table-hover{
  margin: 0px;
}

::-webkit-scrollbar-track {
    border-radius: 20px !important;
    background-color: #222 !important;
}
::-webkit-scrollbar {
    width: 2px !important;
    background-color: #222 !important;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background-color: #f88407 !important;
}

.modal-content{
    width: 350px;
}

.button_popup{
    margin-top: 10px;
    position: relative;
    left: 35%;
    background-image: none;
    background-color: #f88407;
}

.card{
  height: 37vh;
  padding: 0px;
  margin-top: 20px;
}

.table-header{
    padding: 0px;
    margin-top: 75px;
}

#my-head{
    width: 100%;
}
